[moick-toaster-wrapper] {
  position: fixed;
  width: var(--width);
  font-family: inherit;
  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);
  --border-radius: 6px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  z-index: 999999999;
}

[moick-toaster-wrapper][moick-x-position='right'] {
  right: max(var(--offset), env(safe-area-inset-right));
}

[moick-toaster-wrapper][moick-x-position='left'] {
  left: max(var(--offset), env(safe-area-inset-left));
}

[moick-toaster-wrapper][moick-x-position='center'] {
  left: 50%;
  transform: translateX(-50%);
}

[moick-toaster-wrapper][moick-y-position='top'] {
  top: max(var(--offset), env(safe-area-inset-top));
}

[moick-toaster-wrapper][moick-y-position='bottom'] {
  bottom: max(var(--offset), env(safe-area-inset-bottom));
}

[moick-toaster-item] {
  --y: translateY(100%);
  --lift-amount: calc(var(--lift) * var(--gap));
  z-index: var(--z-index);
  position: absolute;
  opacity: 0;
  transform: var(--y);
  /* https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not */
  touch-action: none;
  will-change: transform, opacity, height;
  transition: transform 400ms, opacity 400ms, height 400ms, box-shadow 200ms;
  box-sizing: border-box;
  outline: none;
}

[moick-toaster-item][moick-data-styled='true'] {
  padding: 16px;
  background: var(--normal-bg);
  border: 1px solid var(--normal-border);
  color: var(--normal-text);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: var(--width);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
}

[moick-toaster-item]:focus-visible {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.2);
}

[moick-toaster-item][moick-y-position='top'] {
  top: 0;
  --y: translateY(-100%);
  --lift: 1;
  --lift-amount: calc(1 * var(--gap));
}

[moick-toaster-item][moick-y-position='bottom'] {
  bottom: 0;
  --y: translateY(100%);
  --lift: -1;
  --lift-amount: calc(var(--lift) * var(--gap));
}

[moick-toaster-item] [moick-data-description] {
  font-weight: 400;
  line-height: 1.4;
  color: inherit;
}

[moick-toaster-item] [moick-data-title] {
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
}

[moick-toaster-item] [moick-data-icon] {
  display: flex;
  height: 16px;
  width: 16px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-left: -3px;
  margin-right: 4px;
}

[moick-toaster-item] [moick-data-icon]>* {
  flex-shrink: 0;
}

[moick-toaster-item] [moick-data-icon] svg {
  margin-left: -1px;
}

[moick-toaster-item] [moick-data-content] {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

[moick-toaster-item] [moick-close-button] {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: var(--gray1);
  color: var(--gray12);
  border: 1px solid var(--gray4);
  transform: translate(-35%, -35%);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  transition: opacity 100ms, background 200ms, border-color 200ms;
}

[moick-toaster-item] [moick-close-button]:focus-visible {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.2);
}

[moick-toaster-item]:hover [moick-close-button] {
  opacity: 1;
}

[moick-toaster-item]:focus [moick-close-button] {
  opacity: 1;
}

[moick-toaster-item]:focus-within [moick-close-button] {
  opacity: 1;
}

[moick-toaster-item]:hover [moick-close-button]:hover {
  background: var(--gray2);
  border-color: var(--gray5);
}

/* Needed to avoid setting hover to false when inbetween toasts */
[moick-toaster-item]:after {
  content: '';
  position: absolute;
  left: 0;
  height: calc(var(--gap) + 1px);
  bottom: 100%;
  width: 100%;
}

[moick-toaster-item][moick-data-mounted='true'] {
  --y: translateY(0);
  opacity: 1;
}

[moick-toaster-item][moick-data-expanded='false'][moick-data-front='false'] {
  --scale: var(--toasts-before) * 0.05 + 1;
  --y: translateY(calc(var(--lift-amount) * var(--toasts-before))) scale(calc(-1 * var(--scale)));
  height: var(--front-toast-height);
}

[moick-toaster-item]>* {
  transition: opacity 400ms;
}

[moick-toaster-item][moick-data-expanded='false'][moick-data-front='false'][moick-data-styled='true']>* {
  opacity: 0;
}

[moick-toaster-item][moick-data-visible='false'] {
  opacity: 0;
  pointer-events: none;
}

[moick-toaster-item][moick-data-mounted='true'][moick-data-expanded='true'] {
  --y: translateY(calc(var(--lift) * var(--offset)));
  height: var(--initial-height);
}

[moick-toaster-item][moick-data-removed='true'][moick-data-front='true'] {
  --y: translateY(calc(var(--lift) * -100%));
  opacity: 0;
}

[moick-toaster-item][moick-data-removed='true'][moick-data-front='false'][moick-data-expanded='true'] {
  --y: translateY(calc(var(--lift) * var(--offset) + var(--lift) * -100%));
  opacity: 0;
}

[moick-toaster-item][moick-data-removed='true'][moick-data-front='false'][moick-data-expanded='false'] {
  --y: translateY(40%);
  opacity: 0;
  transition: transform 500ms, opacity 200ms;
}

/* Bump up the height to make sure hover state doesn't get set to false */
[moick-toaster-item][moick-data-removed='true'][moick-data-front='false']:before {
  height: calc(var(--initial-height) + 20%);
}

@media (max-width: 600px) {
  [moick-toaster-wrapper] {
    position: fixed;
    --mobile-offset: 16px;
    right: var(--mobile-offset);
    left: var(--mobile-offset);
    width: 100%;
  }

  [moick-toaster-wrapper] [moick-toaster-item] {
    left: 0;
    right: 0;
    width: calc(100% - 32px);
  }

  [moick-toaster-wrapper][moick-x-position='left'] {
    left: var(--mobile-offset);
  }

  [moick-toaster-wrapper][moick-y-position='bottom'] {
    bottom: 20px;
  }

  [moick-toaster-wrapper][moick-y-position='top'] {
    top: 20px;
  }

  [moick-toaster-wrapper][moick-x-position='center'] {
    left: var(--mobile-offset);
    right: var(--mobile-offset);
    transform: none;
  }
}

[moick-toaster-wrapper][moick-data-theme='light'] {
  --normal-bg: #fff;
  --normal-border: var(--gray3);
  --normal-text: var(--gray12);

  --success-bg: hsl(143, 85%, 96%);
  --success-border: hsl(145, 92%, 91%);
  --success-text: hsl(140, 100%, 27%);

  --error-bg: hsl(359, 100%, 97%);
  --error-border: hsl(359, 100%, 94%);
  --error-text: hsl(360, 100%, 45%);
}

[moick-toaster-wrapper][moick-data-theme='dark'] {
  --normal-bg: #000;
  --normal-border: hsl(0, 0%, 20%);
  --normal-text: var(--gray1);

  --success-bg: hsl(150, 100%, 6%);
  --success-border: hsl(147, 100%, 12%);
  --success-text: hsl(150, 86%, 65%);

  --error-bg: hsl(358, 76%, 10%);
  --error-border: hsl(357, 89%, 16%);
  --error-text: hsl(358, 100%, 81%);
}

[moick-rich-colors='true'] [moick-toaster-item][moick-data-type='success'] {
  background: var(--success-bg);
  border-color: var(--success-border);
  color: var(--success-text);
}

[moick-rich-colors='true'] [moick-toaster-item][moick-data-type='success'] [moick-close-button] {
  background: var(--success-bg);
  border-color: var(--success-border);
  color: var(--success-text);
}

[moick-rich-colors='true'] [moick-toaster-item][moick-data-type='error'] {
  background: var(--error-bg);
  border-color: var(--error-border);
  color: var(--error-text);
}

[moick-rich-colors='true'] [moick-toaster-item][moick-data-type='error'] [moick-close-button] {
  background: var(--error-bg);
  border-color: var(--error-border);
  color: var(--error-text);
}

.moick-loading-wrapper {
  --size: 16px;
  height: var(--size);
  width: var(--size);
  position: absolute;
  inset: 0;
  z-index: 10;
}

.moick-loading-wrapper[moick-data-visible='false'] {
  transform-origin: center;
  animation: moick-fade-out 0.2s ease forwards;
}

.moick-spinner {
  position: relative;
  top: 50%;
  left: 50%;
  height: var(--size);
  width: var(--size);
}

.moick-loading-bar {
  animation: moick-spin 1.2s linear infinite;
  background: var(--gray11);
  border-radius: 6px;
  height: 8%;
  left: -10%;
  position: absolute;
  top: -3.9%;
  width: 24%;
}

.moick-loading-bar:nth-child(1) {
  animation-delay: -1.2s;
  /* Rotate trick to avoid adding an additional pixel in some sizes */
  transform: rotate(0.0001deg) translate(146%);
}

.moick-loading-bar:nth-child(2) {
  animation-delay: -1.1s;
  transform: rotate(30deg) translate(146%);
}

.moick-loading-bar:nth-child(3) {
  animation-delay: -1s;
  transform: rotate(60deg) translate(146%);
}

.moick-loading-bar:nth-child(4) {
  animation-delay: -0.9s;
  transform: rotate(90deg) translate(146%);
}

.moick-loading-bar:nth-child(5) {
  animation-delay: -0.8s;
  transform: rotate(120deg) translate(146%);
}

.moick-loading-bar:nth-child(6) {
  animation-delay: -0.7s;
  transform: rotate(150deg) translate(146%);
}

.moick-loading-bar:nth-child(7) {
  animation-delay: -0.6s;
  transform: rotate(180deg) translate(146%);
}

.moick-loading-bar:nth-child(8) {
  animation-delay: -0.5s;
  transform: rotate(210deg) translate(146%);
}

.moick-loading-bar:nth-child(9) {
  animation-delay: -0.4s;
  transform: rotate(240deg) translate(146%);
}

.moick-loading-bar:nth-child(10) {
  animation-delay: -0.3s;
  transform: rotate(270deg) translate(146%);
}

.moick-loading-bar:nth-child(11) {
  animation-delay: -0.2s;
  transform: rotate(300deg) translate(146%);
}

.moick-loading-bar:nth-child(12) {
  animation-delay: -0.1s;
  transform: rotate(330deg) translate(146%);
}

@keyframes moick-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moick-fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes moick-spin {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.15;
  }
}

@media (prefers-reduced-motion) {

  [moick-toaster-item],
  [moick-toaster-item]>*,
  .moick-loading-bar {
    transition: none !important;
    animation: none !important;
  }
}